<size-guide>
  <button href="#" class="btn-open--size-guide-modal" data-size-guide-modal-open-button>{{ block.settings.button }}</button>
  <section 
  class="modal-main-container--size-guide-modal hidden" 
  role="dialog"
  aria-modal="true"
  aria-labelledby="title--size-guide-modal"
  data-size-guide-modal
  tabindex="0">
    <div class="modal-top--size-guide-modal">
      <h3 id="title--size-guide-modal">{{ block.settings.button }}</h3>
      <button class="btn-close--size-guide-modal" data-size-guide-modal-close-button>x</button>
    </div>
    <div>
      <button
       id="mens--size-guide-modal" 
       class="tab--size-guide-modal">
        men
      </button>
      <button 
      id="womens--size-guide-modal" 
      class="tab--size-guide-modal">
        women
      </button>
    </div>
    <div id="tabpanel-mens--size-guide-modal" aria-labelledby="mens--size-guide-modal" class="tabpanel--size-guide-modal">
      <img src="{{ block.settings.image_for_mens_sizes | img_url: '600x'}}" class="image--size-guide-modal"/>
    </div>
    <div id="tabpanel-womens--size-guide-modal" aria-labelledby="womens--size-guide-modal" class="tabpanel--size-guide-modal hidden">
      <img src="{{ block.settings.image_for_womens_sizes | img_url: '600x'}}" class="image--size-guide-modal"/>
    </div>
  </section>
  <div class="overlay--size-guide-modal hidden" data-size-guide-modal-overlay>.</div>
</size-guide>
