{{ 'icons.css' | asset_url | stylesheet_tag }}

{%  style  %} 
  .main-container--icons-section {
    background-color: {{section.settings.background-color}}
  }
{% endstyle %}

<div class="main-container--icons-section">
  {% for block in section.blocks %}
    <div class="icon-container--icons-section">
      {% render 'icons-for-icons-section' icon: block.settings.icon-selection icon-color: section.settings.icon-color %}
      <h3 class="icon-header--icons-section">{{ block.settings.icon-title }}</h3>
      <p>{{ block.settings.icon-description }}</p>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Icons",
    "tag": "section",
    "class": "icons",
    "settings": [
      {
        "type": "color",
        "id": "background-color",
        "label": "background color"
      },
      {
        "type": "color",
        "id": "icon-color",
        "label": "icon color"
      }
    ],
    "blocks": [
      {
        "name": "icon",
        "type": "icon",
        "settings": [
          {
            "type": "select",
            "id": "icon-selection",
            "label": "select an icon",
            "options": [
              {
                "value": "shoe",
                "label": "shoe"
              },
              {
                "value": "message",
                "label": "message"
              },
              {
                "value": "truck",
                "label": "truck"
              },
              {
                "value": "shirt",
                "label": "shirt"
              },
              {
                "value": "shop",
                "label": "shop"
              }
            ],
            "default": "shoe"
          },
          {
            "type": "text",
            "id": "icon-title",
            "label": "Title for icon"
          },
          {
            "type": "text",
            "id": "icon-description",
            "label": "Description for icon"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Icons"
      }
    ]
  }
{% endschema %}
