:root {
  --color-swatch-text-color: rgba(18, 18, 18, 0.75);
}

.color-swatch-name {
  pointer-events: none;
  transition: transform 0.2s;
}

.product-form__input--color-swatch input.input-color-swatch+.color-swatch:hover .color-swatch-name {
  transform: translate(0, -30px);
}

.product-form__input--color-swatch input.input-color-swatch:checked+.color-swatch {
  color: var(--color-swatch-text-color);
  outline: 1px solid var(--color-swatch-text-color);
  outline-offset: 2px;
}

.product-form__input--color-swatch input.input-color-swatch+.color-swatch:hover {
  margin-top: 15px;
}
