.glide__track--cross-sell {
  width: 80%;
  margin: auto;
}

.cross-sell-product-title {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
  padding: 0 15px;
}

.cross-sell-arrow--left {
  left: -0.3em;
}

.cross-sell-arrow--right {
  right: -0.3em;
}

@media (min-width: 750) {

  .cross-sell-product-title {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
    padding: 0 10px;
    font-size: 12px;
  }

  .cross-sell-arrow--left {
    left: -1em;
  }

  .cross-sell-arrow--right {
    right: -1em;
  }
}

.cross-sell-img {
  width: 100%;
  height: auto;
}
