.glide__slide--product-images {
  transform: scale(0.9);
  transition: transform 0.3s ease 0s;
  flex-shrink: 1;
}

.glide__slide--product-images.glide__slide--active {
  transform: scale(1);
  transition: transform 0.3s ease 0s;
}

.product-images__carousel {
  max-width: 600px;
  margin: auto;
}

.image--product-slider {
  width: 100%;
  margin: auto;
  display: block;
}

.product-images-arrow--left, .product-images-arrow--right {
  height: 100%;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 40px;
}

.product-images-arrow--left {
  left: 0;
}

.product-images-arrow--right {
  right: 0;
}

/* product-images-thumbnail-tracker component */
.glide__track--thumbnails {
  max-width: 500px;
  margin: auto;
}

.image--thumbnails {
  width: 80%;
  margin: auto;
  display: block;
}

.glide__slide--thumbnails:not(.glide__slide--active) {
  opacity: 0.5;
}
