body.gradient {
  position: relative;
}

.overlay--size-guide-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
  display: block;
}

.modal-top--size-guide-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn-close--size-guide-modal {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  border: none;
  transform: translate(25px, -10px)
}

.btn-close--size-guide-modal:hover {
  border: 1px solid black;
  background: rgb(199, 199, 199);
}

.modal-main-container--size-guide-modal {
  z-index: 2;
  background: white;
  padding: 0 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image--size-guide-modal {
  width: 100%;
}
