html {
  scroll-behavior: smooth;
}

.tab-menu {
  display: flex;
  flex-direction: column;
}

.tab-menu--link[aria-selected="true"] {
  background-color: lightgoldenrodyellow;
  color: black;
  font-weight: 400;
  border-bottom: solid;
}

.tab-menu--link:focus-visible {
  background-color: royalblue;
  color: whitesmoke;
  outline: 0.2em solid transparent;
}

.tab-menu--content:focus-visible {
  background-color: royalblue;
  color: whitesmoke;
  outline: 0.2em solid transparent;
}

.tab-menu--link {
  text-decoration: none;
  color: rgba(10, 10, 10, 0.6);
  /* border-top: 1px solid rgb(197, 195, 195);
  border-left: 1px solid rgb(176, 175, 175);
  border-right: 1px solid rgb(153, 151, 151);
  border-radius: 4px 4px 0 0;
  padding: 4px 5px 0 5px; */
}

.tab-menu--content:not(.visible) {
  display: none;
}

.tab-menu--list-item {
  margin: 0 0 5px 0;
  padding: 0 5px;
}

.tab-menu--list{
  list-style: none;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.tab-menu--content {
  padding: 0 0 0 10px;
}

.tab-menu--content-container {
  background-color: #e7e9ed;
}
