.main-container--video-player {
  width: auto;
  text-align: center;
}

.video-container--video-player {
  height: 100vh;
}

.video-container--video-player iframe {
  height: 88%;
  width: auto;
}

.play-or-pause-button--video-player {
  width: 10%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}


